[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-session = "*"
redis = "*"
flask-cors = "*"
wtforms = "==2.3.3"
sqlalchemy-serializer = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.8"
